/* Default */
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
/* -Header---------------------------------------------------------- */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

header {
  position: fixed;
  width: 100%;
  z-index: 1; /** Controla a profundidade dos elementos (x, y, z), quanto menor mais o nível */
  font-size: 16px;
  transition: all 0.4s ease-out;
  /* font-size: calc(1px + 2vmin); */
  margin: 0 auto;
  color: white;
}

.max-header {
  height: 100px;
  background-color: #282c34;
}

.min-header {
  background-color: #204183;
  height: 80px;
}
/* -HeaderContainer---------------------------------------------------------- */

.header-container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-areas: 
    "lgo title nav";
  grid-template-columns: auto 1fr auto;
  align-content: center;
}

/* -HeaderLogo---------------------------------------------------------- */

.logo-header {
  grid-area: lgo;
}

.max-logo img {
  width: 100px;
}

.min-logo img {
  width: 70px;
}

/* -HeaderTitle---------------------------------------------------------- */

.header-title {
  display: grid;
  grid-area: title;
  padding: 30px;
  font-size: 30px;
  align-content: center;
}

/* -NavBar---------------------------------------------------------- */

.nav-bar {
  display: grid;
  align-content: center; /** Alinha todo texto da classe */
  grid-area: nav;
}

.nav-bar ul {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}

.nav-bar a {
  /* font-family: "Taxi Driver"; */
  text-transform: uppercase;
  transition: all 0.4s ease-out;
}

.max-nav a {
  font-size: 1em;
  color: #c5eff7;
}

.min-nav a {
  font-size: 0.875em;
  color: #2574a9;
}


/* -SectionGhost---------------------------------------------------------- */

.section-ghost {
  width: 100%;
  height: 100px;
  background-color: #cae1f1;
}

/* -Main---------------------------------------------------------- */

main {
  font-size: 20px;
}

main section {
  display: grid; /** Tipo de display em grid */
  justify-content: center; /** Alinhamento vertical */
  align-content: center;  /** Alinhamento horizontal */
  /* font-family: "Taxi Driver"; */
  font-size: 2em; /** Segue o padrão do pai, que no caso é atag main. O 1 é o tamanho do pai * 1 */
  color: white;
}

main section:nth-child(odd) { /** Chama a primeira section, como se fosse um array. Se colocar odd é para os impares */
  height: 100vh;      /** vh = viewport height = altura da tela do dispositivo*/
  background-color: #992121;
}

main section:nth-child(even) {
  height: 100vh;
  background-color: #461010;
}

/* ----------------------------------------------------------- */
/* .container {
  background-color: #992121;
  min-height: 100vh;

  flex-direction: column;
  align-items: center;

  /* font-size: calc(10px + 2vmin); */
  color: white;

 /*


/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */



/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
